
*{
    padding: 0;
    margin: 0;
}

.faq {
    border: 2px solid rgb(18,18,22);
    padding: 50px;
    background-color: rgb(18,18,22);
    margin-right: 3px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.faq h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 5rem;
}

.faq-item {
    margin-bottom: 20px;
  
}

.faq-item h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #26b7cd;
}

.faq-item p {
    font-size: 1rem;
    line-height: 1.5;
}
