<link rel="stylesheet" href="./curriculum.modules.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<section class="curriculum">
    <div class="box">
        <a href="/"></a>
        <video class="vdeo" width="100%" height="auto" autoplay muted loop>
            <source src="../../asset/intro.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
      
    </div>

    <div class="set2">
        <h1>What You'll Gain</h1>
    </div>

    <div class="box2">
        <div class="experience">
            <h3>EXPERIENCE</h3>
            <p>
                Software engineering <br> fellows 
                Headstarter
            </p>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" />
            <label class="form-check-label" for="flexCheckIndeterminate">
                Built 5+ AI apps and APIs using NextJS, OpenAI, Pinecone, StripeAPI with 98% accuracy as seen by 1000 users
            </label>
            <br>
            <br>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" />
            <label class="form-check-label" for="flexCheckIndeterminate">
                Built 5+ AI apps and APIs using NextJS, OpenAI, Pinecone, StripeAPI with 98% accuracy as seen by 1000 users
            </label>
            
        </div>
    </div>

    <div class="set3">
        <h1>7 Week Curriculum</h1>
    </div>

    <div class="box3">
        <div class="container">
            <div class="week">
                <div class="date">Aug 12, – Aug 18</div>
                <div class="week-title">Week 4</div>
                <div class="task">AI Flashcards & Stripe</div>
                <div class="tags">
                    <span>OpenAI</span>
                    <span>Auth</span>
                    <span>StripeAPI</span>
                </div>
            </div>
            <div class="week">
                <div class="date">Aug 19, – Aug 25</div>
                <div class="week-title">Week 5</div>
                <div class="task">AI Rate My Professor</div>
                <div class="tags">
                    <span>RAG</span>
                    <span>OpenAI</span>
                    <span>Vectors</span>
                </div>
            </div>
            <div class="week">
                <div class="date">Aug 26, – Sep 1</div>
                <div class="week-title">Week 6</div>
                <div class="task">Ship to 1000 users</div>
                <div class="tags">
                    <span>Branding</span>
                    <span>Deadlines</span>
                    <span>UI</span>
                </div>
            </div>
            <div class="week">
                <div class="date">Sep 2, – Sep 8</div>
                <div class="week-title">Week 7</div>
                <div class="task">Present to an Engineer</div>
                <div class="tags">
                    <span>Sell</span>
                    <span>Speak</span>
                    <span>Ask</span>
                </div>
            </div>
        </div>
    </div>

    <div class="neon">
        <a href="#" class="neon-button">Apply Now</a>
    </div>
</section>
