<link rel="stylesheet" href="./nav.modules.css">
<nav>
    <div class="logo">
        <a href="#MLSC">MLSC</a>
    </div>
    <div class="menu-toggle">
        <span>Menu</span>
    </div>
    <div class="items">
        <h6><a href="#Network">Network</a></h6>
        <h6><a href="#Info">Info</a></h6>
        <h6><a href="#Wall of love">Wall of love</a></h6>
        <h6><a href="#IRL">IRL</a></h6>
        <div class="apply">
            <a href="##">Apply Now</a>
           
         </div>
    </div>
   

    <script>
        const menuToggle = document.querySelector('.menu-toggle');
        const items = document.querySelector('.items');
    
        menuToggle.addEventListener('click', () => {
            items.classList.toggle('open');
        });
    </script>



</nav>
