@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    
}

nav {
    position: relative;
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
     justify-content: space-evenly;
    padding: 20px;
    background-color: rgba(4, 21, 25, 0.12);
    backdrop-filter: blur(9px);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    box-sizing: border-box;
    z-index: 1000;
}

.items {
    display: flex;
    justify-content: center;
}

.items h6 {
    
    margin: 0 20px;
}

.bchange {
    border-style: solid;
    border-color: #0E8A92;
    padding: 8px 20px;
    border-radius: 7px;
    background-color: rgba(4, 21, 25, 0.12);
    color: white;
}

nav h6 {
    font-size: 13px;
    font-weight: 100;
}

nav a {
    color: aliceblue;
    text-decoration: none;
}

.logo a{
    font-size: large;
    font: weight 1500px;;
}

.apply{
    font-size: 14px;
    font-weight: 500;
    padding: 0.4em 0.5em;
    border: 0.15em solid #0E8A92 ;
    border-radius: 5px;
}


/* 
@media (max-width: 830px) {
    nav{
        position: absolute;
        top: 0%;
        width: 100%;
        z-index: 0;
    
    }

    /* nav a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease   ;

    } */

    /* nav a:hover{
        color: white;
    }

    nav a:active{
        color: white;
    }

    nav.open{
        right: 2%;
    }
}*/

@media (max-width: 830px) {

    nav{
        background-color: rgba(4, 21, 25, 0.12);
        justify-content: space-evenly;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 18px;
        color: aliceblue;
        padding: 2px 5px;
        border: 2px solid #0E8A92;
        border-radius: 5px;
        background-color: rgba(4, 21, 25, 0.75);
        position: absolute;
        right: 20px;
        top: 26px;
    }

    .items {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: rgba(4, 21, 25, 0.95);
        position: absolute;
        top: 60px; /* Adjust according to your nav height */
        left: 0;
    }

    .items.open {
        display: flex;
    }

    .items h6 {
        margin: 15px 0;
    }

    .apply {
        margin-top: 5px;
    }
}