<link rel="stylesheet" href="./hero.modules.css">
<main>
    <div class="hero-text">
        <h1>Become a 1%</h1>
        <h2>software engineer</h2>
    </div>
    <div class="hero-description">
        <h4>
            Build 5 AI projects in 5 weeks, ship to 1000 users last 2 <br />
            weeks, hackathons, irl meetups starting July 22. For Free.
        </h4>
        <h4>Deadline has passed, but we're taking final apps below</h4>
    </div>
    <div class="hero-buttons">
        <button class="b2">Apply Now</button>
        <button class="b3">About</button>
    </div>
</main>
