<link rel="stylesheet" href="./footer.modules.css">

<footer class="footer">
    <div class="container2">
        <div class="row">
            <div class="footer-col">
                <h4>Community</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Links</h4>
                <ul>
                    <li><a href="#">Data</a></li>
                    <li><a href="#">Data</a></li>
                    <li><a href="#">Data</a></li>
            
                </ul>
            </div>
            <div class="footer-col">
                <h4>Legal</h4>
                <ul>
                    <li><a href="#">Storage</a></li>
                    <li><a href="#">Storage</a></li>
                 
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="extra">
    
</div>
