
<link rel="stylesheet" href="./footer.modules.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


<footer class="footer">
    <div class="footer-links">
        <a href="#">Home</a>
        <a href="#">Services</a>
        <a href="#">Privacy</a>
        <a href="#">About</a>
        <a href="#">Terms</a>
    </div>
    <div class="social-media">
        <a href="#"><i class="fab fa-instagram"></i> </a>
            <a href="#"><i class="fab fa-twitter"></i> </a>
            <a href="#"><i class="fab fa-whatsapp"></i> </a>
            <a href="#"><i class="fab fa-youtube"></i> </a>
    </div>
    <div class="copyright">
        <p>© Microsoft Learn Student Chapter</p>
    </div>
</footer>

</body>
