
.footer {
	background-color: #000;
	color: #fff;
	padding: 5vh;
	text-align: center;
}

.footer .footer-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 15px;
}

.footer .footer-links a {
	color: #fff;
	text-decoration: none;
	margin: 0 15px;
	margin-bottom: 10px;
}

.footer .footer-links a:hover {
	text-decoration: underline;
}

.footer .social-media {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.footer .social-media a {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
}

.copyright{
	padding-top: 20px;
}

.footer .social-media a:hover {
	text-decoration: overline;
}

@media (max-width: 480px) {
	.footer .footer-links, .footer .social-media {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.footer .footer-links a, .footer .social-media a {
		margin: 5px 0;
	}
}